{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}

  {% if page.header_part_left or page.header_part_right %}
  <header role="banner">
    <nav role="navigation" class="py-3 navbar navbar-dark navbar-expand-md">
      <div class="container">
        <div class="row w-100">
          <div class="col-9">
            {{ page.header_part_left }}
          </div>
          <div class="col-3">
            {% if logged_in %}
              <div class="">
                <span>
                {# {{ devel_dump(user) }} #}
                  {{ user.displayname }}, <a href="{{ path('user.logout') }}" style="color: darkred; text-decoration: underline"> se déconnecter</a>
                </span>
              </div>
            {% else %}
              <a href="{{ path('auth.login') }}" class="btn btn-secondary btn-inverse btn-sm active w-100 text-wrap" aria-pressed="true">Se connecter</a>
            {% endif %}
            {{ page.header_part_right }}
          </div>
        </div>
      </div>
    </nav>
  </header>
  {% endif %}

  <div>

    {{ page.primary_menu }}

  </div>

  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  {{ page.highlighted }}

  {{ page.help }}

  <div id="main-wrapper" class="layout-main-wrapper container clearfix" {{ attributes }}>
    <div id="main" class="layout-main clearfix">
      <main id="content" class="column main-content content-category">
        {{ page.content }}
      </main>
      {% if page.sidebar_first %}
        <div id="sidebar-first" class="sidebar" role="complementary">
          {{ page.sidebar_first }}
        </div>
      {% endif %}

      {% if page.sidebar_second %}
        <div id="sidebar-second" class="sidebar" role="complementary">
          {{ page.sidebar_second }}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ page.other_content }}
      </div>
    </div>
  </div>

  {% if page.footer %}
    {# <footer role="contentinfo">
      {{ page.footer }}
    </footer> #}
    <footer class="o-footer" role="contentinfo">
        <div class="o-footer-body">
            <div class="container-md">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h3 class="s-footer-h3 mb-1">Analyse marché</h3>
                        <ul class="nav flex-column s-footer-text">
                            <li class="nav-item"><a class="nav-link s-transition" href="#">Arianet</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">useful links</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">mex on Plazza</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">badim on Plazza</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">site map</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">passeport</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">Orange Group</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3 class="s-footer-h3 mb-1">Alerte</h3>
                        <ul class="nav flex-column s-footer-text">
                            <li class="nav-item"><a class="nav-link s-transition" href="#">contact us</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">become a contributor</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">code of conduct</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">about our subscriptions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3 class="s-footer-h3 mb-1">Macro & B2B </h3>
                        <ul class="nav flex-column s-footer-text">
                            <li class="nav-item"><a class="nav-link s-transition" href="#">5G news</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">Badim reports</a></li>

                            <li class="nav-item"><a class="nav-link s-transition" href="#">Internet of Thing</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">Market best practice</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">Market key figure</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">Market quarterly highlight</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">Mobile & home</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">Cyber-security</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">Orange Vision Community</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">Sustainable marketing</a></li>
                            <li class="nav-item"><a class="nav-link s-transition" href="#">Uses & value</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <h3 class="s-footer-h3 mb-1">Stay tuned with marketing excellence</h3>
                        <!-- <ul class="row">
                            <li class="nav-item"><a class="nav-link" href="#">mymex</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">plazza</a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
  {% endif %}

