<div class="W-30">{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
<div class="text-center">
    <img src="/drupal-mi/themes/custom/boosted/logo.png" class="s-logo mb-2" alt="logo-orange text-center" >
    <h3>Connexion</h3>
</div>
<div class="mb-2">
    <div class="s-email">
        {{form.username}}
    </div>
    <div class="s-password">
        {{form.password}}
    </div>
</div>
<div class=" text-center"  >
    {{form.actions.submit}}
</div>
</div>
